body {
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: 'Ui Gothic', "Consolas";
}

#game_window {
    width: 100vh;
    height: 100vh;
    margin: auto;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#startMenu {
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

h1 {
    font-size: 5vh;
    font-family: "Consolas";
}

#startMenu form {
    font-size: 5vh;
    text-align: center;
}

#startMenu form {
    display: flex;
    transform: translateX(5%);
}

#startMenu form input[type="text"] {
    font-size: 3vh;
    padding: 1vh;
    width: 75%;
    height: 35%;
    text-align: center;
}

#startMenu form input[type="submit"] {
    font-size: 2vh;
    height: 35%;
}

@media only screen and (max-width: 768px) {
    #startMenu form {
        flex-direction: column;
        display: block;
    }

    #startMenu form input[type="submit"] {
      margin-top: 1em;
    }
}

#player {
    position: fixed;
    bottom: -10px;
    left: 10px;
    font-size: 1.2rem;
}

#game {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh !important;
}

#en {
    font-size: 15vh;
    text-align: center;
    position: relative;
}

#ja {
    font-size: 5vh;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}