@font-face {
    font-family: 'Noto Sans JP';
    src: url('Files/NotoSansJP-Regular.otf') format('opentype');
}

@media only screen and (min-width: 800px) {
    #history::-webkit-scrollbar {
        display: none;
        overflow: auto !important;
    }

    #history-menu {
        display: inline-block;
    }

    #history {
        font-size: 1.2rem;
        height: 95vh !important;
        display: inline-block !important;
    }

    #reset {
        font-size: 1vw;
        text-align: right;
        right: 10px;
        bottom: 10px;
        display: none;
    }

    #game {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #scroll-to-top-button {
        display: none;
    }

    #words {
        transform: translate(-50%, 100%);
    }
}

body {
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: 'Noto Sans JP', 'Ui Gothic', 'Consolas', 'Arial', sans-serif;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    overflow: hidden;
}

ruby {
    ruby-position: over;
    ruby-align: center;
    white-space: nowrap;
}

rt {
    font-size: 50%;
}

#upload-csv, #reset {
    font-size: 1rem;
    height: auto;
}

#upload-csv, #csv {
    top: 0;
    left: 0;
    position: absolute;
}

#csv {
    z-index: 9999999999999;
}

#game_window {
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#startMenu {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
}

button {
    z-index: 9999999;
}

#menu-toggle {
    display: none;
}

#history {
    text-align: left;
    height: calc(100% - 4rem);
    overflow-y: auto !important;
}

#history-menu {
    z-index: -99999;
}


#startMenu form {
    font-size: 5vw;
    text-align: center;
}

#startMenu form {
    display: block;
    height: 20vh;
}

#startMenu form input[type="text"], #startMenu form input[type="password"] {
    font-size: 2.5vw;
    padding: 1vw;
    width: 50%;
    height: 25%;
    text-align: center;
}

#startMenu form input[type="submit"] {
    font-size: 1vw;
    height: 20%;
}

@media only screen and (max-width: 800px) {
    #startMenu form {
        flex-direction: column;
        display: block;
        margin-top: -150px  !important;
        position: absolute;
    }

    #startMenu form input[type="submit"] {
        margin-top: 1em;
        font-size: 1rem;
    }

    #startMenu form input[type="text"], #startMenu form input[type="password"] {
        font-size: 1.5rem;
    }

    body.run #menu-toggle {
        display: block;
        color: #fff;
    }

    body {
        height: 100vh;
    }

    #history {
        font-size: 4vw;
        text-align: center;
        height: 100vh;
        overflow: auto !important;
    }

    #history::-webkit-scrollbar {
        display: block !important;
    }

    #history-menu {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 99999;
        background-color: #262626;
        display: none;
    }

    #menu-toggle {
        position: fixed;
        top: 0;
        left: 0;
        margin: 1rem;
        font-size: 2rem;
        background: transparent;
        border: none;
        cursor: pointer;
        z-index: 100000;
    }

    #player {
        font-size: 1rem !important;
        top: 0.5rem !important;
    }

    #en {
        padding-top: 30px;
        font-size: 4rem !important;
    }

    #ja {
        font-size: 2.5rem !important;
    }

    #ja, #en {
        white-space: nowrap;
        max-width: 90vw !important;
    }

    #words {
        font-size: 1rem !important;
    }

    body.run #reset {
        font-size: 1rem;
    }

    #reset {
        font-size: 1vw;
        text-align: right;
        right: 10px;
        bottom: 10px;
        display: none;
    }

    #game {
        display: none;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #scroll-to-top-button {
        position: fixed;
        bottom: 0;
        left: 0;
        display: none;
    }

    #scroll-to-top-button.show {
        display: block;
        z-index: 999999999999;
    }

    #words {
        transform: translate(-50%, 20%);
    }
}

#player {
    position: fixed;
    font-size: 1.2vw;
    background-color: rgb(15, 15, 15);
    top: -10px;
    right: 10px;
}

#reset, .switch {
    position: absolute !important;
}

#words {
    font-size: 1.5vw;
    position: fixed;
    text-align: center;
}

#en {
    font-size: 9vw;
    text-align: center;
    position: fixed;
    transform: translate(-50%, -140%);
}

#ja {
    font-size: 5vw;
    text-align: center;
    position: fixed;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    white-space: nowrap;
}


rt {
    ruby-position: over;
}

.switch {
    position: fixed;
    display: inline-block;
    margin: 0 5px;
    bottom: 10px;
    left: 0;
}

.switch > span {
    position: absolute;
    top: 13px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
    color: #F36F25;
}

input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
}

.switch > span.on {
    left: 0;
    padding-left: 2px;
    color: #F36F25;
}

.switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.check-toggle-round-flat + label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color: #F36F25;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #F36F25;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}

input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
}