body {
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: 'Ui Gothic', "Consolas";
}

.signout, .g-signin2 {
    top: 0;
    text-align: right;
    position: fixed;
    font-size: 1vw;
}

#reset {
    position: fixed;
    font-size: 1vw;
    text-align: right;
    right: 0;
    bottom: 0;
    display: none;
}

#game_window {
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#startMenu {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#history {
    position: fixed;
    float: left;
    text-align: left;
    height: 100vh;
    overflow: auto;
    z-index: 99999;
    display: none;
    scrollbar-width: none;
}

#history::-webkit-scrollbar {
    display: none;
}

#startMenu form {
    font-size: 5vw;
    text-align: center;
}

#startMenu form {
    display: block;
    height: 20vh;
}

#startMenu form input[type="text"] {
    font-size: 2.5vw;
    padding: 1vw;
    width: 50%;
    height: 25%;
    text-align: center;
}

#startMenu form input[type="submit"] {
    font-size: 1vw;
    height: 20%;
}

@media only screen and (max-width: 768px) {
    #startMenu form {
        flex-direction: column;
        display: block;
    }

    #startMenu form input[type="submit"] {
      margin-top: 1em;
    }
}

#player {
    position: fixed;
    font-size: 1.2vw;
    background-color: rgb(15, 15, 15);
    top: -10px;
}

#game {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
}

#en {
    font-size: 10vw;
    text-align: center;
    position: relative;
}

#ja {
    font-size: 5vw;
    text-align: center;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
